#root {
  max-width: 1280px;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  /* display: flex; */
  background-color: #FFFFF0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* background-image: url('./assets/mak-UUmKahgqBSg-unsplash.jpg'); */
}
h1{
  color: #6495ED;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "Parisienne", cursive;
  /* background-color: #888; */
}
.Header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: xxx-large;
  font-family: "Inspiration", cursive;

  h2{
    display: flex;
    text-align: center;
    color: #602437;
    font-size: 2.5em;
    text-shadow: rgb(249, 249, 115) 5px 0 10px;
    font-family: "Great Vibes", serif;
  }
}
/* .Title{
  display: flex;
  background-color: yellow;
  font-size: xx-large;
  font-family: "Kaushan Script", cursive;
} */
.linkbar{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-size: large;
  font-family: "Kaushan Script", cursive;
}
.color-container {
  background-color: #602437;
  opacity: 0.7;
  padding: 16px !important;
}
#projects{
  /* background-color:#F7E9D7 !important; */
}
#resume{
  opacity: 0.7;
}
.Main{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh; 
  overflow: hidden;
  padding: 1rem;
  /* display: flex; */
  /* width: 100%; */
  /* height: 100vh; */
}
.Content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}

/* .Main > div {
  background-image: url(${myImage});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}  */

.main-container{
  display: flex;
  flex-wrap: wrap;  /* allows items to wrap onto the next line */
  justify-content: center; /* centers items horizontally */
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 800px) {
  #aboutme{
    max-height: 100px;
    max-width: 600px;
  }
  .Content {
    padding: 1rem; /* Reduce padding on smaller screens */
  }
}

/* Extra mobile responsiveness for very small screens */
@media (max-width: 600px) {
  #aboutme{
    max-height: 600px;
    max-width: 600px;

    .about{
      max-height: 600px;
      max-width: 600px;
    }
  }
  #projects{
    max-height: 600px;
    max-width: 600px;
    padding: 18px !important;
    h1{
      font-size: 2rem;
    }
    img{
      width: 80px;
      height:80px;
    }
  }
  #technologies{
    max-height: 600px;
    max-width: 600px;
  .technologies{
    #techh1{
      font-size: 4rem !important;
      margin-bottom: 10px !important;
    }
    .orbit-container{
      display: none;
    }
    .tech-stack-container{
      max-height: 400px;
      max-width: 500px;
      overflow-y: scroll;
      h2, h3{
      font-size: 1rem;
      }
      img{
        width: 70px;
      }
    }
  }
}
  .bg-text{
    max-height: 500px;
    overflow-y: scroll;
  }
  .Main {
    padding: 0.5rem; /* Add smaller padding for mobile devices */
  }

  .bg-text {
    font-size: 14px;
    max-width: 80%;
    font-family: "Wittgenstein", serif;
  }
}




/* work experience websites */
/* gracehoperconference */
/* leetcode */

  




