  body {
    margin: 0;
    /* height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
}
.technologies {
  display: flex;
  padding: 15px;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  height: 100%;           
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #97CBA9;
}
#techh1 {
  color: #02542b;
  font-size: 6em !important;
  font-weight: bold !important;
  margin-bottom: 2.4em !important;
  font-family: "Parisienne", cursive;
  text-shadow: 2px 2px 0px #b578cb, 
    4px 4px 0px #fcc24d, 
    6px 6px 0px  #f0ff80; 
    /* 20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0; */
}

.orbit-container {
  font-size: 10px;
  width: 40em;
  height: 40em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;
}

.frontend {
    display: flex;
    font-weight: Bolder;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    /* border: thick double #ffffff; */
    box-shadow: 0 0 3em #fdfcfd;
    /* border-color: #642c7c; */
    /* animation: orbit 50s linear infinite; */
}
.html,
.css,
.javascript,
.react,
.bootstrap,
.node,
.figma,
.django,
.mongodb,
.python {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.3em 0.1em 0 0;
    border-radius: 50%;
}
.html {
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 68.7s linear infinite;
}

.css {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 48.7s linear infinite;
}

.javascript {
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em; 
    animation: orbit 36.5s linear infinite;   
}
.react {
    top: 2em;
    right: -1em;
    width: 7em;
    height: 7em; 
    animation: orbit 2.7s linear infinite;
}
.bootstrap {
    top: 2em;
    left: 2.5em;
    width: 36em;
    height: 36em; 
    animation: orbit 26.5s linear infinite;
}
.node {
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em; 
    animation: orbit 21s linear infinite;
}
.figma {
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em; 
    animation: orbit 17s linear infinite;
}
.django {
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em; 
    animation: orbit 19s linear infinite;
}
.mongodb {
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em; 
    animation: orbit 15s linear infinite;
}
.python {
    top: -22em;
    left: -22em;
    width: 85em;
    height: 85em; 
    animation: orbit 18s linear infinite;
}

.html::before,
.css::before,
.javascript::before,
.react::before,
.bootstrap::before,
.node::before,
.figma::before,
.django::before,
.mongodb::before,
.python::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 30s linear infinite;
}
.html::before {
    top: 1.5em;
    right: 0.8em;
    width: 2em;
    height: 2em;
    background-image: url('./images/html.png');
    background-size: cover;
}
.css::before {
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url('./images/css.png');
    background-size: cover;
}
.javascript::before {
    top: 3em;
    right: 0em;
    width: 5em;
    height: 5em;
    background-image: url('./images/javascript.png');
    background-size: cover;
}

.react::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-image: url('./images/react.png');
    background-size: cover;
}
.bootstrap::before {
    top: 5em;
    right: 3em;
    width: 3em;
    height: 3em;
    background-image: url('./images/bootstrap.png');
    background-size: cover;
}
.node::before {
    top: 6em;
    right: 3em;
    width: 5em;
    height: 5em;
    background-image: url('./images/node.png');
    background-size: cover;
}
.figma::before {
    top: 7.5em;
    right: 5em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('./images/figma.png');
    background-size: cover;
}
.django::before {
    top: 9em;
    right: 6.5em;
    width: 4em;
    height: 4em;
    background-image: url('./images/django.png');
    background-size: cover;
}
.mongodb::before {
    top: 10em;
    right: 8em;
    width: 4em;
    height: 4em;
    background-image: url('./images/mongodb.png');
    background-size: cover;
}
.python::before {
    top: 11em;
    right: 10em;
    width: 4em;
    height: 4em;
    background-image: url('./images/python.png');
    background-size: cover;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}


/* Technology List Container Styling */
.tech-stack-container {
    padding: 2rem;
    background-color: #cae2d2;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    max-width: 80%;
    margin: 1rem auto;

    h2{
        background-color: rgba(91, 8, 8, 0.3);
      }
    h3{
        color:#602437;
        display: flex;
        justify-content: center; 
        align-items: center;
    a{
        margin-left: 7px;
    }
    }
  }
  
  .tech-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tech-list li {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .tech-list li:hover {
    transform: scale(1.05);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .github-link {
    display: inline-block;
    /* margin-top: 20px; */
    text-decoration: none;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .github-link:hover {
    transform: scale(1.1);
  }
  
  .github-link img {
    border-radius: 50%;
  }
  @media (max-width: 768px) {
    .tech-stack-container {
      max-width: 90%;
    }
    .tech-list li {
      font-size: 1rem;
    }
  }
  


